<div *ngIf="form;else loading">
  <form (ngSubmit)="submit()" [formGroup]="resultForm" *ngIf="form.isEnable" class="form form-horizontal">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" data-background-color="green">
          <h4 class="heading text-center">
            <strong>{{form.title}}</strong>
          </h4>
        </div>
        <div class="card-content">
          <div class="container-fluid">
            <br/>
            <br/>
            <br/>
            <app-form-item-view *ngFor="let question of form.questions;let i = index" [form]="resultForm" [question]="question" [index]="i"></app-form-item-view>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-success" [disabled]="resultForm.invalid">ثبت</button>
  </form>

  <div class="alert alert-warning" role="alert" *ngIf="!form.isEnable">
    <strong>متاسفانه فرم مورد نظر فعال نیست</strong>
  </div>
</div>

<ng-template #loading>
  <div class="loader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
  </div>
</ng-template>
