<div class="card">
  <div class="card-header">
    <i class="material-icons">person</i>
    <span>{{item.user.username}}</span>
    <button type="button" class="btn btn-danger btn-xs pull-left" (click)="remove()">حذف</button>
  </div>

  <div class="card-content">
    <ul class="nav nav-pills nav-pills-info">
      <li *ngFor="let role of formRoles" [ngClass]="{'active': role === item.role}">
        <a (click)="selectRole(role)" data-toggle="tab">{{role}}</a>
      </li>
    </ul>
  </div>
</div>
